# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse files
.settings/
*.prefs
*.classpath
*.project
bin/
build/
javadoc/

# IntelliJ files
*.iml
.idea/
out/